<div id="partial_title">Qu'est-ce que LaPrimaire.org ?</div>
<h2 class="doc-title">A propos de LaPrimaire.org</h2><br/>
<h3>Qu'est-ce que LaPrimaire.org ?</h3>
<p><i>LaPrimaire.org</i> est <b>une primaire ouverte</b>, organisée pour permettre aux Français de choisir librement, de manière <b>transparente</b> et <b>démocratique</b>, les candidats qu'ils souhaitent voir se présenter à l'élection présidentielle de 2017 (voir <a href="https://laprimaire.org/manifeste">notre manifeste</a>).</p>
<h3>Quel intérêt ?</h3>
<p>Aujourd'hui en France, les partis politiques (<a target="_blank" href="http://www.lemonde.fr/les-decodeurs/article/2015/09/22/des-republicains-au-ps-la-desertion-des-militants_4766932_4355770.html">365,000 personnes</a> soit <b>0,5% de la population</b>) désignent les candidats aux élections alors que les citoyens <a href="http://www.cevipof.com/fr/le-barometre-de-la-confiance-politique-du-cevipof/resultats-1/vague6/vague6prime/" target="_blank">les rejettent massivement</a>. L'objectif de <i>LaPrimaire.org</i> est d'insuffler un nouvel élan démocratique à notre pays en favorisant le renouvellement de notre classe politique.</p>
<h3>Comment ça marche ?</h3>
<p>Un processus de sélection des candidats (voir <a target="_blank" href="https://legislatives.laprimaire.org/deroulement/">le déroulement</a>) a été spécifiquement mis au point pour permettre une primaire démocratique à laquelle toute personne peut se présenter et au sein de laquelle toutes les idées peuvent s'exprimer.</p>
<h3>Qui organise ?</h3>
<p><i>LaPrimaire.org</i> est organisée de manière entièrement bénévole par des citoyens ordinaires indépendants des partis politiques. Initiée par democratech, association Loi 1901 dont l’objet est de favoriser la participation et l’implication du plus grand nombre à la vie citoyenne et civique française, le projet est aujourd’hui porté par le parti politique « LaPrimaire.org » afin de se conformer à l’ensemble des conditions légales requises pour présenter et financer des candidat(e)s aux élections.</p>
<h3>Qui finance ?</h3>
<p>LaPrimaire.org est financée uniquement par <a href="#mes-dons">les adhésions et les dons des citoyens</a> et ne reçoit aucune subvention publique.</p>

