<div id="partial_title">Ensemble, offrons-nous un VRAI choix en 2017 !</div>
<h2 class="doc-title">Bonjour <%= citoyen['firstname'] %></h2>
<p>Bienvenue sur votre espace <b>personnel</b> LaPrimaire.org, une initiative citoyenne créée pour permettre aux citoyen(ne)s de faire émerger démocratiquement les meilleur(e)s candidat(e)s pour chaque élection. <a href="#a-propos">En savoir plus</a>.</p>
<h2 class="doc-title">En ce moment sur LaPrimaire.org</h2>
<div class="row">

    <div class="col-12 col-sm-6 col-lg-3">
        <!--Card-->
        <div class="card">
            <div class="card-data">
                <span>Législatives 2017</span>
            </div>
            <!--Card image-->
            <div class="view overlay hm-white-slight">
                <img class="img-fluid" src="https://s3.eu-central-1.amazonaws.com/laprimaire/presidentielle-2017/legislatives-2017.jpg" alt="Législatives 2017 - participez">
                <a href="#election/legislatives-2017">
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-block">
                <!--Title-->
                <h4 class="card-title">Participez !</h4>
                <!--Text-->
                <p class="card-text text-justify">Les qualifications pour la primaire ouverte pour les élections législatives sont ouvertes : les candidats ont besoin de 150 soutiens citoyens pour se qualifier, étudiez-les et soutenez vos candidat(e)s favori(te)s !</p>
                <a href="#election/legislatives-2017" class="btn btn-primary">Voir ma circonscription</a>
            </div>
            <!--/.Card content-->
        </div>
        <!--/.Card-->
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
        <!--Card-->
        <div class="card">
            <div class="card-data">
                <span>Législatives 2017</span>
            </div>
            <!--Card image-->
            <div class="view overlay hm-white-slight">
                <img class="img-fluid" src="https://s3.eu-central-1.amazonaws.com/laprimaire/presidentielle-2017/candidats.jpg" alt="Législatives 2017 - soyez candidats">
                <a href="#election/run">
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-block">
                <!--Title-->
                <h4 class="card-title">Soyez candidat-e !</h4>
                <!--Text-->
                <p class="card-text text-justify">Vous souhaitez contribuer à améliorer le pays ? Engagez-vous pour défendre vos idées en étant candidat(e) aux législatives. LaPrimaire.org vous simplifie toute la démarche: c'est simple... et ca peut tout changer !</p>
                <a href="#election/run" class="btn btn-primary">Dites m'en plus</a>
            </div>
            <!--/.Card content-->
        </div>
        <!--/.Card-->
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
        <!--Card-->
        <div class="card">
            <div class="card-data">
                <span>Présidentielle 2017</span>
            </div>
            <!--Card image-->
            <div class="view overlay hm-white-slight">
		    <!--<img class="img-fluid" src="https://s3.eu-west-2.amazonaws.com/www.jugementmajoritaire2017.com/images/banner-fb-500x400.jpg" alt="Votez à la Presidentielle 2017 avec le Jugement Majoritaire">-->
                <img class="img-fluid" src="https://s3.eu-central-1.amazonaws.com/laprimaire/votes/jugement-majoritaire-2017-officiel-2.png" alt="Votez à la Presidentielle 2017 avec le Jugement Majoritaire">
                <a href="#election/jugement-majoritaire-2017">
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-block">
                <!--Title-->
                <h4 class="card-title">Jugement Majoritaire</h4>
                <!--Text-->
                <p class="card-text text-justify">Et si on changeait de système de vote ? Une expérience scientifique qui vous permet de voter au 2nd tour de l'élection présidentielle au jugement majoritaire, un mode de scrutin créé pour mieux refléter le choix des électeurs.</p>
                <a href="#election/jugement-majoritaire-2017" class="btn btn-success text-center">Participer</a>
                <a href="https://www.jugementmajoritaire2017.com/" target="_blank" class="btn btn-primary">En savoir plus</a>
            </div>
            <!--/.Card content-->
        </div>
        <!--/.Card-->
    </div>
</div>
