<div id="partial_title">Ensemble, offrons-nous un VRAI choix en 2017 !</div>
<h2 class="doc-title">Bonjour <%= citoyen['firstname'] %></h2>
<p>Bienvenue sur votre espace <b>personnel</b> LaPrimaire.org, une initiative citoyenne créée pour permettre aux citoyen(ne)s de faire émerger démocratiquement les meilleur(e)s candidat(e)s pour chaque élection. <a href="#a-propos">En savoir plus</a>.</p>
<h2 class="doc-title">En ce moment sur LaPrimaire.org</h2>
<div class="row">
    <div class="col-12 col-sm-6 col-lg-3">
        <!--Card-->
        <div class="card">
            <div class="card-data">
                <span>Présidentielle 2017</span>
            </div>
            <!--Card image-->
            <div class="view overlay hm-white-slight">
                <img class="img-fluid" src="https://s3.eu-central-1.amazonaws.com/laprimaire/presidentielle-2017/photo-parrainages.jpg" alt="Presidentielles 2017 - aidez à la collecte de parrainages">
                <a href="http://parrainages.charlotte-marchandise.fr/">
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-block">
                <!--Title-->
                <h4 class="card-title">Collecte de parrainages</h4>
                <!--Text-->
                <p class="card-text text-justify">Elue démocratiquement par 32768 votants, Charlotte Marchandise doit aujourd'hui collecter 500 parrainages de Maires. Pour que le choix des citoyen(ne)s soit présent au 1er tour, mobilisons-nous !</p>
                <a href="http://parrainages.charlotte-marchandise.fr/" target="_blank" class="btn btn-primary">Je veux bien aider</a>
		<a href="http://parrainages.charlotte-marchandise.fr/r/city_code/<%= citoyen['code_insee'] %>/?city_name=<%= citoyen['city'] %>" target="_blank" class="btn btn-success">Voir ma ville</a>
            </div>
            <!--/.Card content-->
        </div>
        <!--/.Card-->
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
        <!--Card-->
        <div class="card">
            <div class="card-data">
                <span>Législatives 2017</span>
            </div>
            <!--Card image-->
            <div class="view overlay hm-white-slight">
                <img class="img-fluid" src="https://s3.eu-central-1.amazonaws.com/laprimaire/presidentielle-2017/legislatives-2017.jpg" alt="Législatives 2017 - participez">
                <a href="#election/legislatives-2017">
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-block">
                <!--Title-->
                <h4 class="card-title">Participez !</h4>
                <!--Text-->
                <p class="card-text text-justify">Les qualifications pour la primaire ouverte pour les élections législatives sont ouvertes : les candidats ont besoin de 150 soutiens citoyens pour se qualifier, étudiez-les et soutenez vos candidat(e)s favori(te)s !</p>
                <a href="#election/legislatives-2017" class="btn btn-primary">Voir ma circonscription</a>
            </div>
            <!--/.Card content-->
        </div>
        <!--/.Card-->
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
        <!--Card-->
        <div class="card">
            <div class="card-data">
                <span>Législatives 2017</span>
            </div>
            <!--Card image-->
            <div class="view overlay hm-white-slight">
                <img class="img-fluid" src="https://s3.eu-central-1.amazonaws.com/laprimaire/presidentielle-2017/candidats.jpg" alt="Législatives 2017 - soyez candidats">
                <a href="#">
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-block">
                <!--Title-->
                <h4 class="card-title">Soyez candidat-e !</h4>
                <!--Text-->
                <p class="card-text text-justify">Vous souhaitez contribuer à améliorer le pays ? Engagez-vous pour défendre vos idées en étant candidat(e) aux législatives. LaPrimaire.org vous simplifie toute la démarche: c'est simple... et ca peut tout changer !</p>
                <a href="#election/run" class="btn btn-primary">Dites m'en plus</a>
            </div>
            <!--/.Card content-->
        </div>
        <!--/.Card-->
    </div>
</div>
