<!DOCTYPE html>
<html lang="fr">
<head>
<%= erb :head, :locals=>page_info %>
</head>
<body class="index">
<div id="fb-root"></div>
      <%= erb :navbar %>
      <%= erb template, :locals=>vars %>
  </body>
</html>
