
<table>
  <ul>
    <li>
      <%= ville['slug'] %>
    </li>
    <li>
      <%= ville['name'] %>
    </li>
    <li>
      <%= ville['zipcode'] %>
    </li>
    <li>
      <%= ville['name_departement'] %>
    </li>
  </ul>
</table>
