    <!-- Header -->
    <header>
    <div id="header_overlay" class="white" style="border-bottom: 2px solid #527bdd;">
	<div class="container">
	    <div class="thumbnail" style="margin-top: 15px;">
		<h3>ca va chier</h3>
	    </div>
    </div>
    </header>

