<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="origin">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Comment faire un vote démocratique en ligne ? La méthode utilisée par LaPrimaire.org expliquée par Tatienne Laplanche en quelques... planches :)">
    <meta name="author" content="LaPrimaire.org / dessins de Tatienne Laplanche">
    <meta property="og:title" content="Le vote démocratique en ligne, on fait comment ?">
    <meta property="og:site_name" content="LaPrimaire.org"/>
    <meta property="og:url" content="https://laprimaire.org/citoyen/vote/tutorial_final">
    <meta property="fb:app_id" content="115809635110050"/>
    <meta property="og:type" content="article"/>
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:description" content="Comment faire un vote démocratique en ligne ? La méthode utilisée par LaPrimaire.org expliquée par Tatienne Laplanche en quelques... planches :)">
    <meta property="og:image" content="https://s3.eu-central-1.amazonaws.com/laprimaire/tutorial_tour2/01.jpg">
    <meta property="og:image:secure_url" content="https://s3.eu-central-1.amazonaws.com/laprimaire/tutorial_tour2/01.jpg">
    <meta name="twitter:image:src" content="https://s3.eu-central-1.amazonaws.com/laprimaire/tutorial_tour2/01.jpg">
    <meta name="twitter:widgets:csp" content="on">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@democratech">
    <meta name="twitter:creator" content="@democratech">
    <meta name="twitter:title" content="Le vote démocratique en ligne, on fait comment ?">
    <meta name="twitter:image" content="https://s3.eu-central-1.amazonaws.com/laprimaire/tutorial_tour2/01.jpg">
    <meta name="twitter:description" content="Comment faire un vote démocratique en ligne ? La méthode utilisée par LaPrimaire.org expliquée par Tatienne Laplanche en quelques... planches :)">
    <title>"Le vote démocratique en ligne : on fait comment ?" - LaPrimaire.org</title>
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link rel="canonical" href="https://laprimaire.org/citoyen/vote/tutorial_final">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="index">
    <header>
	<div class="container" style="max-width:800px;">
	    <div class="row">
		    <div class="carroussel">
			    <div class="carroussel_item">
				    <a href="https://laprimaire.org" target="_blank"><img class="lazy" data-original="https://s3.eu-central-1.amazonaws.com/laprimaire/tutorial_tour2/01.jpg" width="100%"></a>
			    </div>
		    </div>
		    <div class="carroussel">
			    <div class="carroussel_item">
				    <img class="lazy" data-original="https://s3.eu-central-1.amazonaws.com/laprimaire/tutorial_tour2/02.jpg" width="100%">
			    </div>
		    </div>
		    <div class="carroussel">
			    <div class="carroussel_item">
				    <img class="lazy" data-original="https://s3.eu-central-1.amazonaws.com/laprimaire/tutorial_tour2/03.jpg" width="100%">
			    </div>
		    </div>
		    <div class="carroussel">
			    <div class="carroussel_item">
				    <img class="lazy" data-original="https://s3.eu-central-1.amazonaws.com/laprimaire/tutorial_tour2/04.jpg" width="100%">
			    </div>
		    </div>
		    <div class="carroussel">
			    <div class="carroussel_item">
				    <img class="lazy" data-original="https://s3.eu-central-1.amazonaws.com/laprimaire/tutorial_tour2/05.jpg" width="100%">
			    </div>
		    </div>
		    <div class="carroussel">
			    <div class="carroussel_item">
				    <img class="lazy" data-original="https://s3.eu-central-1.amazonaws.com/laprimaire/tutorial_tour2/06.jpg" width="100%">
			    </div>
		    </div>
		    <div class="carroussel">
			    <div class="carroussel_item">
				    <img class="lazy" data-original="https://s3.eu-central-1.amazonaws.com/laprimaire/tutorial_tour2/07.jpg" width="100%">
			    </div>
		    </div>
		    <div class="carroussel">
			    <div class="carroussel_item">
				    <img class="lazy" data-original="https://s3.eu-central-1.amazonaws.com/laprimaire/tutorial_tour2/08.jpg" width="100%">
			    </div>
		    </div>
		    <div class="carroussel">
			    <div class="carroussel_item">
				    <img class="lazy" data-original="https://s3.eu-central-1.amazonaws.com/laprimaire/tutorial_tour2/09.jpg" width="100%">
			    </div>
		    </div>
		    <div class="carroussel">
			    <div class="carroussel_item">
				    <img class="lazy" data-original="https://s3.eu-central-1.amazonaws.com/laprimaire/tutorial_tour2/10.jpg" width="100%">
			    </div>
		    </div>
		    <div class="carroussel">
			    <div class="carroussel_item">
				    <img class="lazy" data-original="https://s3.eu-central-1.amazonaws.com/laprimaire/tutorial_tour2/11.jpg" width="100%">
			    </div>
		    </div>
		    <div class="carroussel">
			    <div class="carroussel_item">
				    <img class="lazy" data-original="https://s3.eu-central-1.amazonaws.com/laprimaire/tutorial_tour2/12.jpg" width="100%">
			    </div>
		    </div>
		    <div class="carroussel">
			    <div class="carroussel_item">
				    <img class="lazy" data-original="https://s3.eu-central-1.amazonaws.com/laprimaire/tutorial_tour2/19b.jpg" width="100%">
			    </div>
		    </div>
		    <div class="carroussel">
			    <div class="carroussel_item">
				    <img class="lazy" data-original="https://s3.eu-central-1.amazonaws.com/laprimaire/tutorial_tour2/20.jpg" width="100%">
			    </div>
		    </div>
		    <!--<div class="carroussel">
			    <div class="carroussel_item">
				    <img class="lazy" data-original="https://s3.eu-central-1.amazonaws.com/laprimaire/tutorial_tour2/21.jpg" width="100%">
			    </div>
		    </div>-->
		    <div class="carroussel">
			    <div class="carroussel_item">
				    <img class="lazy" data-original="https://s3.eu-central-1.amazonaws.com/laprimaire/tutorial_tour2/22.jpg" width="100%">
			    </div>
		    </div>
		    <div class="carroussel">
			    <div class="carroussel_item">
				    <img class="lazy" data-original="https://s3.eu-central-1.amazonaws.com/laprimaire/tutorial_tour2/23.jpg" width="100%">
			    </div>
		    </div>
		    <div class="carroussel">
			    <div class="carroussel_item">
				    <img class="lazy" data-original="https://s3.eu-central-1.amazonaws.com/laprimaire/tutorial_tour2/24b.jpg" width="100%">
			    </div>
		    </div>

		    <div class="carroussel">
			    <div class="carroussel_item">
				    <a href="https://laprimaire.org" target="_blank"><img class="lazy" data-original="https://s3.eu-central-1.amazonaws.com/laprimaire/tutorial_tour2/25.jpg" width="100%"></a>
			    </div>
		    </div>
		    <div class="carroussel">
			    <div class="carroussel_item">
				    <a href="https://laprimaire.org" target="_blank"><img class="lazy" data-original="https://s3.eu-central-1.amazonaws.com/laprimaire/tutorial_tour2/26.jpg" width="100%"></a>
			    </div>
		    </div>
	    </div>
	</div>
    </header>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-60977053-1', 'auto');
ga('send', 'pageview');
$(document).ready(function(){
	if ($('img.lazy')!=null || $('div.lazy')!=null) {
		$.getScript('https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js', function() {
				$("img.lazy").lazyload({effect:"fadeIn"});
				$("div.lazy").lazyload({effect:"fadeIn"});
		});
	}
});
    </script>

    </body>
</html>


